@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root{
  --bg-color: #070E27;
  --crl-white: #FFFFFF;
  --clr-blue: #0059F7;
  --clr-lavender: #CCD2E9 ;
  --clr-cool-gray: #7E8BB6;
  --space-cadet-color: #162044;
  --line-color: #4E5A85;
  --cornflower-blue: #689EFF;

  --font-name: 'Sora', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-name);
  background-color: var(--bg-color);
  color: var(--crl-white);
}

/*=============== THEME ===============*/


/*========== Variables Light theme ==========*/
body.light-theme{
  --bg-color: rgba(244, 247, 255, 1);
}

/*=============== HEADER ===============*/
.header{
  display: flex;
  align-items: center;
  padding: 16px 64px;
  gap: 12px;
  border-bottom: 1px solid var(--clr-cool-gray);
  position: sticky;
  top: 0px;
  background-color: var(--bg-color);
}

.logo{
  display: flex;
  flex-direction: row;
  left: 80px;
  top: 36px;
  gap: 10px;
}

.header .navigation{
  margin-left: auto;
  margin-right: 24px;
}

.header .nav-list{
  display: flex;
  gap: 12px;
}

.header .nav-list a{
  text-decoration: none;
  color: var(--crl-white);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header .nav-list a:hover{
  color: var(--cornflower-blue);
}

.header .login-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 16px 24px;
  left: 1269px;
  top: 24px;
  font-weight: 500;
  color: var(--crl-white);
  background-color: var(--space-cadet-color);
  border-radius: 8px;
}

.header .login-btn{
  left: 124px;
  top: 36px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.section-subtitle,
.section-title{
  text-align: center;
}

.section-subtitle{
  font-weight: 500;
  font-size: 20px;
  gap: 8px;
  color: var(--clr-cool-gray);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.section-title{
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 50px;
  letter-spacing: -0.03em;
}

/*========== Buttons ==========*/
.btn{
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  cursor: pointer;
  color: var(--crl-white);
  background-color: var(--space-cadet-color);
}

.btn:hover{
  background-color: var(--cornflower-blue);
}

.btn.btn-primary{
  background-color: var(--clr-blue);
}

.btn.btn-primary:hover{
  background-color: var(--cornflower-blue);
}


/*=============== HERO ===============*/
#hero{
  padding: 70px 64px;
}

#hero .welcome,
#hero .partners{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#hero .welcome{
  margin-bottom: 48px;
  max-width: 900px;
}

#hero .welcome > *{
  width: 55%;
}

#hero .welcome .title{
  left: 190px;
  top: 168px;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.03em;
}

#hero .hero-img{
  margin: 0 auto 48px auto;
}

#hero .welcome .info{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
  color: var(--clr-cool-gray);
}

#hero .partners{
  max-width: 900px;
  gap: 8px;
}

hr{
  width: 1060px;
  height: 1px;
  left: 190px;
  top: 1348px;
  opacity: 0.2;
  margin-top: 48px;
  background-color: var(--line-color);
}

/*=============== FEATURES ===============*/
#features{
  padding: 70px 64px;
}

#features .title{
  padding-left: 360px;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.03em;
}

#features .feat-title{
    padding-bottom: 16px;
}

#features .description{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-left: 360px;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  color: var(--clr-cool-gray);
}

#features .container{
  display: grid;
  gap: 32px 40px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 300px;
  align-content: center;
  flex-flow: row wrap;
}

#features .container .card{
  width: 400px;
  height: 288px;
  left: 300px;
  top: 1621px;
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--space-cadet-color);
  background-color: var(--bg-color);
  box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
}

#features .container .card .feat-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

#features .container .card .card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--clr-lavender);
}

#features .container .card i{
  width: 48px;
  height: 48px;
  color: var(--clr-cool-gray);
}

#features .box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  margin-top: 96px;
  border-radius: 24px;
  padding: 72px 100px;
  background-color: var(--clr-blue);
}


#features .box .box-container{
  margin-top: 96px;
  border-radius: 24px;
  background-color: var(--clr-blue);
}

#features .box .box-container .subtitle-feat{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--crl-white);
  opacity: 0.5;
}

#features .box .box-container .feat-title{
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.03em;
}

#features .box .box-container .trial-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 24px 20px;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--cornflower-blue);
}

#features .box .box-container .trial-btn:hover{
  color: var(--cornflower-blue);
  background-color: var(--crl-white);
}

/*=============== HOW ===============*/
#how{
  padding: 70px 64px;
}

#how .row{
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 900px;
  margin: 0 auto;
}

#how .row .row-img{
  width: 60%;
}

#how .row .title{
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.03em;
  margin-bottom: 12px;
}

#how .row .description{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--clr-cool-gray);
}

#how .row:nth-child(even){
  flex-direction: row-reverse;
}

#how .row:not(:last-child){
  margin-bottom: 48px;
}

/*=============== PRICING ===============*/
#pricing{
  padding: 70px 64px;
}


/*=============== FOOTER ===============*/
footer{
  background-color: var(--space-cadet-color);
}

