@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root,
:root.dark{
  --bg-color: #070E27;
  --crl-white: #FFFFFF;
  --clr-blue: #0059F7;
  --clr-lavender: #CCD2E9 ;
  --clr-cool-gray: #7E8BB6;
  --space-cadet-color: #162044;
  --line-color: #4E5A85;
  --cornflower-blue: #689EFF;
  --oxford-blue: #081131;
  --feature-card-bg: #162044;

  --font-name: 'Sora', sans-serif;
}

:root.light{
  --bg-color: #F4F7FF;
  --crl-white: #162044;
  --text-color: #FFFFFF;
  --space-cadet-color: #98A6C7;
  --feature-card-bg: #F4F7FF;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-name);
  background-color: var(--bg-color);
  color: var(--crl-white);
}

/*=============== CHANGE THEME ===============*/
input{
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

label {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  text-indent: -9999px;
  height: 30px;
  width: 60px;
  vertical-align: middle;
  border-radius: 78px;
  background-color: #1F2533;
  transition: 0.5s ease-out background-color;
}

label::after,
label::before {
  content: '';
}

label::after{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 78px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgba(255, 193, 135, 0.96);
  box-shadow: -3.9px 6.5px 5.2px rgba(183, 183, 183, 0.35), 0px 0px 11.7px rgba(255, 193, 135, 0.6), 
    inset 0px -2.6px 5.2px #FFA149, inset 0px 2.6px 5.2px #FFD0A5;
}

input:checked + label::after{
  left: calc(100% - 25px);
  background-color: var(--crl-white);
}

input:checked + label::before{
  left: 30px;
}

input:checked + label{
  background-color: #6CB8FF;
}

/*=============== HEADER ===============*/
.header{
  display: flex;
  align-items: center;
  padding: 16px 64px;
  gap: 12px;
  border-bottom: 1px solid var(--clr-cool-gray);
  position: sticky;
  top: 0px;
  background-color: var(--bg-color);
}

.logo{
  display: flex;
  flex-direction: row;
  left: 80px;
  top: 36px;
  gap: 10px;
}

.header .navigation{
  margin-left: auto;
  margin-right: 24px;
}

.header .nav-list{
  display: flex;
  list-style-type: none;
  gap: 12px;
}

.header .nav-list a{
  text-decoration: none;
  color: var(--crl-white);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header .nav-list a:hover{
  color: var(--cornflower-blue);
}

.header .login-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 16px 24px;
  left: 1269px;
  top: 24px;
  font-weight: 500;
  color: var(--crl-white);
  background-color: var(--space-cadet-color);
  border-radius: 8px;
  font-size: 24px;
  line-height: 32px;
}

/*========== Buttons ==========*/
.btn{
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--space-cadet-color);
}

.btn:hover{
  background-color: var(--cornflower-blue);
}

.btn.btn-primary{
  background-color: var(--clr-blue);
}

.btn.btn-primary:hover{
  background-color: var(--cornflower-blue);
}

/*=============== GLOBAL STYLING ===============*/
.section-subtitle,
.section-title{
  text-align: center;
}

.section-subtitle{
  font-weight: 500;
  font-size: 20px;
  gap: 8px;
  color: var(--clr-cool-gray);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.section-title{
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 50px;
  letter-spacing: -0.03em;
}

/*=============== HERO ===============*/
#hero{
  padding: 70px 64px;
}

#hero .welcome,
#hero .partners{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#hero .welcome{
  margin-bottom: 48px;
  max-width: 900px;
}

#hero .welcome > *{
  width: 55%;
}

#hero .welcome .title{
  left: 190px;
  top: 168px;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -0.03em;
}

#hero .hero-img{
  margin: 0 auto 48px auto;
}

#hero .welcome .info{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
  color: var(--clr-cool-gray);
}

#hero .partners{
  max-width: 900px;
  gap: 8px;
}

hr{
  width: 1060px;
  height: 1px;
  left: 190px;
  top: 1348px;
  opacity: 0.2;
  margin-top: 48px;
  background-color: var(--line-color);
}

/*=============== FEATURES ===============*/
#features{
  padding: 70px 64px;
}

#features .title{
  padding-left: 360px;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.03em;
}

#features .feat-title{
    padding-bottom: 16px;
}

#features .description{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-left: 360px;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  color: var(--clr-cool-gray);
}

#features .container{
  display: grid;
  gap: 32px 40px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 300px;
  align-content: center;
  flex-flow: row wrap;
}

#features .container .card{
  width: 400px;
  height: 288px;
  left: 300px;
  top: 1621px;
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--feature-card-bg);
  background-color: var(--bg-color);
  box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
}

#features .container .card:hover{
  color: var(--text-color);
  background-color: #081131;
}

#features .container .card .feat-title{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

#features .container .card .card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--clr-lavender);
}

#features .container .card i{
  width: 48px;
  height: 48px;
  color: var(--clr-cool-gray);
}

#features .box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  margin-top: 96px;
  border-radius: 24px;
  padding: 72px 100px;
  background-color: var(--clr-blue);
}

#features .box .box-container{
  margin-top: 96px;
  border-radius: 24px;
  background-color: var(--clr-blue);
}

#features .box .box-container .subtitle-feat{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  opacity: 0.5;
}

#features .box .box-container .feat-title{
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--text-color);
}

#features .box .box-container .trial-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 24px 20px;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--cornflower-blue);
}

#features .box .box-container .trial-btn:hover{
  color: var(--cornflower-blue);
  background-color: var(--crl-white);
}

/*=============== HOW ===============*/
#how{
  padding: 70px 64px;
}

#how .row{
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 900px;
  margin: 0 auto;
}

#how .row .row-img{
  width: 60%;
}

#how .row .title{
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.03em;
  margin-bottom: 12px;
}

#how .row .description{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--clr-cool-gray);
}

#how .row:nth-child(even){
  flex-direction: row-reverse;
}

#how .row:not(:last-child){
  margin-bottom: 48px;
}

/*=============== PRICING ===============*/
#pricing{
  padding: 70px 64px;
}

#pricing .plans {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

#pricing .plans .plan{
  padding: 12px 12px;
  border-radius: 16px;
  background-color: var(--oxford-blue);
  box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
}

#pricing .plans .promo{
  left: 520px;
  top: 4832px;
  box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
  border-radius: 16px;
  background-color: var(--feature-card-bg);
}

#pricing .plans .plan:not(:last-child) {
  margin-bottom: 24px;
}

#pricing .plans .plan .subheading-title{
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--clr-cool-gray);
}

#pricing .plans .plan hr {
  width: 85%;
  height: 2px;
  margin-top: auto;
  margin-right: auto;
  color: var(--line-color);
  opacity: 0.16;
  border-radius: 16px;
}

#pricing .plans .plan .price{
  display: block;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
  padding-bottom: 48px;
  color: var(--text-color);
}

#pricing .plans .plan .price .currency{
  color: var(--line-color);
}

#pricing .plans .plan .details{
  margin-top: 48px;
  letter-spacing:  0.02em;
}

#pricing .plans .plan .details li{
  list-style-type: none;
}

#pricing .plans .plan .details li i{
  direction: inline-flex;
  margin-right: 10px;
  color: var(--line-color);
}

#pricing .plans .plan .details li .item{
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color) !important;
}

#pricing .plans {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

#pricing .plans .plan .btn{
  margin-top: 48px;
}

#pricing .plans .plan .price-btn {
  margin-left: 48px;
  border-radius: 16px;
  background-color: var(--line-color);
}

#pricing .plans .plan .btn-primary {
  margin-left: 48px;
  border-radius: 16px;
}

#pricing .plans .plan .btn:hover {
  background-color: var(--cornflower-blue);
}

#pricing .plans .plan{
  width: 400px;
  height: 630px;
  position: static;
  margin: 0 5px;
  border-radius: 16px;
  padding: 43px;
  margin-left: 40px;
  background-color: #162044;
}

#pricing .plans .plan .promo{
  margin-left: 40px;
}

#pricing .plans .plan{
  padding: 43px;
  background-color: var(--oxford-blue);
  box-shadow: 0px 35px 45px rgba(7, 14, 39, 0.05);
  border-radius: 16px;
}

#pricing .box .box-container .pricing-titles{
  flex-direction: column;
  color: var(--text-color);
}

#pricing .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 253px;
}

#pricing .box .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 55%;
  height: 176px;
  border-radius: 24px;
  margin-left: 190px;
  margin-right: 190px;
  padding-left: 56px;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: var(--clr-blue);
}

#pricing .box .box-container .btn{
  margin-right: 56px;
  background-color: var(--cornflower-blue);
  margin-left: 329px;
}

#pricing .box .box-container .btn:hover{
  color: var(--cornflower-blue);
  background-color: var(--crl-white);
}

#pricing .box .box-container .subtitle-pricing{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.5;
}

/*=============== FOOTER ===============*/
footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: #162044; 
}

footer .social-icons{
  margin-top: 48px;
}

footer .social-icons ul{
  list-style-type: none;
}

footer .social-icons ul li{
  display: inline-flex;
  text-decoration: none;
  gap: 40px;
  width: 20px;
  height: 20px;
  flex-direction: row;
}

footer .social-icons ul li i{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--clr-lavender);
}

footer .footer-links{
  margin-top: 48px;
}

footer .footer-links ul{
  list-style-type: none;
}

footer .footer-links ul li{
  gap: 24px;
}

footer .footer-links ul li a{
  text-decoration: none;
  flex-direction: row;
  margin-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--clr-lavender);
}

footer .copy {
  margin-top: 48px;
  padding-right: 190px;
  top: 6071px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: var(--clr-lavender);
}

/*=============== MEDIA QUERIES ===============*/
@media screen and(max-width: 767px) {
  /* Hero Section */
  #hero{
    padding: 70px 64px;
  }
  
  #hero .welcome {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  #hero .welcome .title{
    width: 100%;
   }

  #hero .welcome > div{
    width: 60%;
  }

  /* How section */
  #how .row{
     gap: 18px
  }

  #how .row:not(:last-child){
    margin-bottom: 36px;
  }

  #how .row .row-img{
    width: 50%;
  }
}

@media screen and(max-width: 600px) {
  /* Header */
  .header .navigation{
    display: none;
  }

  .header .login-btn{
    margin-left: auto;
  }

  /* Hero Section */
  #hero .welcome > div{
    width: 80%;
  }

  /* How section */
  #how .row{
    flex-direction: column;
    text-align: center;
  }

  #how .row:nth-child(even){
    flex-direction: column;
  }

  #how .row .row-img{
    width: 80%;
  }
}
